.administrationPage {
    padding: 50px 20%;
}

.administrationPage h1 {
    text-align: left;
}

.administrationPage section > h1 {
    color: var(--primary-admin);
    font-size: 35px;
    font-weight: bold;
    margin: 50px 0;
}

.statsValues {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: white;
    box-shadow: 6px 6px 4px 5px rgba(92, 153, 243, 0.25);
    border-radius: 10px;
    background-color: var(--primary-admin);
}

.statsValues div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsValues h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.statsValues span {
    display: block;
}