.administrationPage {
    padding: 50px 20%;
}

section {
    min-height: 360px;
}

.administrationPage h1 {
    text-align: left;
}

.administrationPage section > h1 {
    color: var(--primary-admin);
    font-size: 35px;
    font-weight: bold;
    margin: 50px 0;
}

.statsValues {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: white;
    box-shadow: 6px 6px 4px 5px rgba(92, 153, 243, 0.25);
    border-radius: 10px;
    background-color: var(--primary-admin);
}

.statsValues div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsValues h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.statsValues span {
    display: block;
}


.tableHeader {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid #2479F6;
    background-color: var(--primary-admin);
    color: white;
}

.tableHeader span {
    text-align: center;
    display: block;
    font-weight: 500;
    width: 120px;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    margin: 10px 0;
    min-height: 60px;
    font-size: 24px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
}

.record span {
    display: inline-block;
    max-height: 80px;
    font-size: 20px;
    text-align: center;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dataTitles button:first-child {
    margin-left: 0;
}

.dataTitles button:last-child {
    margin-right: 0;
}

.dataTitles h2 {
    font-weight: normal;
}

.pageNavigation {
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pageNavigation div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNavigation button, .pageNavigation div {
    border: 1px solid #AAAAAA;
    width: 50px;
    height: 50px;
}